html, body {
    height: 100%;
}

body {
    margin: 0;
    background-image: url('../images/bg.png');
    background-size: 100% 100%;
    /*background-repeat: no-repeat;*/
}

.logo {
    display: flex;
    /*background-color: red;*/
    width: 100vw;
    height: 11vh;
    justify-content: space-around;
}

.logo img {
    width: 20vw;
    height: 6vh;
    margin-top: 2vh;
}

.content {
    display: flex;
    justify-content: space-around;
}

.content-1 {
    display: flex;
    /*background-color: red;*/
    width: 30vw;
    height: 48vh;
    margin-top: 18vh;
    margin-left: 10vw;
    flex-direction: column;
    justify-content: space-between;
}

.content-1 div {
    background-image: url('../images/option_bg.png');
}

.content-2 div {
    background-image: url('../images/option_bg.png');
}

.content-2 {
    display: flex;
    /*background-color: red;*/
    width: 30vw;
    height: 48vh;
    margin-right: 10vw;
    margin-top: 18vh;
    flex-direction: column;
    justify-content: space-between;
}

.contact {
    /*background-color: blue;*/
    width: 100%;
    height: 30%;
}

.health {
    /*background-color: green;*/
    width: 100%;
    height: 30%;
}

.water {
    /*background-color: blue;*/
    width: 100%;
    height: 30%;
}

.news {
    /*background-color: green;*/
    width: 100%;
    height: 30%;
}

.cop {
    /*background-color: blue;*/
    width: 100%;
    height: 30%;
}

.serve {
    /*background-color: green;*/
    width: 100%;
    height: 30%;
}

.content img {
    display: flex;
    margin: 0 auto;
    margin-top: 1vh;
    height: 8vh;
}

.content p {
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100vw;
    height: 7vh;
    justify-content: space-around;
    align-items: flex-end;
}

.footer img {
    height: 4vh;
}

.footer p {
    display: flex;
    font-size: 20px;
    margin-top: 1vh;
    text-align: center;
    color: green;
}
